In [1]:
import matplotlib
matplotlib.rcParams['axes.grid'] = True # show gridlines by default
%matplotlib inline

import pandas as pd

In [2]:
LOCATION='coffee.csv'

In [3]:
coffee = pd.read_csv(LOCATION, dtype={'Commodity Code':str, 'Reporter Code':str})
coffee.head()

,Classification,Year,Period,Period Desc.,Aggregate Level,Is Leaf Code,Trade Flow Code,Trade Flow,Reporter Code,Reporter,...,Qty,Alt Qty Unit Code,Alt Qty Unit,Alt Qty,Netweight (kg),Gross weight (kg),Trade Value (US$),CIF Trade Value (US$),FOB Trade Value (US$),Flag
0,H4,2014,201409,201409,4,0,0,M,826,United Kingdom,...,NaN,-1,NaN,NaN,56100,NaN,311417,311417.404,NaN,0
1,H4,2014,201409,201409,4,0,0,M,826,United Kingdom,...,NaN,-1,NaN,NaN,1300,NaN,971,971.259,NaN,0
2,H4,2014,201409,201409,4,0,0,M,826,United Kingdom,...,NaN,-1,NaN,NaN,34168,NaN,225064,225064.940,NaN,0
3,H4,2014,201409,201409,4,0,0,M,826,United Kingdom,...,NaN,-1,NaN,NaN,8597,NaN,98071,98071.133,NaN,0
4,H4,2014,201409,201409,4,0,0,M,826,United Kingdom,...,NaN,-1,NaN,NaN,588803,NaN,2536012,2536012.280,NaN,0

In [5]:
MONTH = 'Period'
PARTNER = 'Partner'
FLOW = 'Trade Flow'
VALUE = 'Trade Value (US$)'
COMMODITY = 'Honey'
#headings = [MONTH, PARTNER, FLOW, COMMODITY, VALUE]
coffee = coffee.reindex(columns=[MONTH, PARTNER, FLOW, COMMODITY, VALUE])
coffee.head()

   Period       Partner Trade Flow  Honey  Trade Value (US$)
0  201409        Rwanda          M    NaN             311417
1  201409  Saudi Arabia          M    NaN                971
2  201409     Nicaragua          M    NaN             225064
3  201409        Panama          M    NaN              98071
4  201409          Peru          M    NaN            2536012

In [8]:
coffee_world = coffee[coffee['Partner'] == 'World']
coffee.head()

   Period       Partner Trade Flow  Honey  Trade Value (US$)
0  201409        Rwanda          M    NaN             311417
1  201409  Saudi Arabia          M    NaN                971
2  201409     Nicaragua          M    NaN             225064
3  201409        Panama          M    NaN              98071
4  201409          Peru          M    NaN            2536012

In [11]:
coffee_imports = coffee[coffee['Trade Flow'] == 'Imports']
coffee_countries_imports = coffee_countries[coffee_countries['Trade Flow'] == 'Imports']
coffee_world_imports=coffee_world[coffee_world['Trade Flow'] == 'Imports']

In [12]:
# sorting the Data
coffeeImportsInJanuary2014 = coffee_countries_imports[coffee_countries_imports['Period'] == 201401]
coffeeImportsInJanuary2014.sort_values('Trade Value (US$)',ascending=False).head(10)

Empty DataFrame
Columns: [Period, Partner, Trade Flow, Honey, Trade Value (US$)]
Index: []

In [15]:
# grouping the Data
groups = coffee_countries.groupby('Trade Flow')
groups

In [16]:
groups.get_group('Imports').head()

KeyError: 'Imports'

In [18]:
GROUPING_COMMFLOW = ['Trade Flow']

groups = coffee_countries.groupby(GROUPING_COMMFLOW)
groups.groups.keys()

dict_keys(['M', 'X'])

In [19]:
groups = coffee_countries.groupby(['Commodity Code'])
groups.get_group('0402').sort_values("Trade Value (US$)", ascending=False).head()

KeyError: 'Commodity Code'

# i just tried to do it but i do not understand what i am doing.